<!DOCTYPE html>
<html>
<head>
    <title>Toplantı Kayıt Formu</title>
</head>
<body>
    <h1>Toplantı Kayıt Formu</h1>
    <form method="post" action="/create-meeting">
        <label for="topic">Toplantı Konusu:</label><br>
        <input type="text" id="topic" name="topic"><br>

        <label for="date">Tarih:</label><br>
        <input type="date" id="date" name="date"><br>

        <label for="start_time">Başlangıç Saati:</label><br>
        <input type="time" id="start_time" name="start_time"><br>

        <label for="end_time">Bitiş Saati:</label><br>
        <input type="time" id="end_time" name="end_time"><br>

        <label for="participants">Katılımcılar:</label><br>
        <input type="text" id="participants" name="participants"><br><br>

        <input type="submit" value="Toplantıyı Kaydet">
    </form> 
</body>
</html>
